/* Global */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --primary-color: #1DB954;
  --dark-color:#191414;
  --dark-color-alt: #333333;
  --light-color: #ffffff;
  --light-color-alt: #cccccc;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--light-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

/* utilities */
.bg-primary {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.bg-dark {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.container {
  margin: auto;
  overflow: hidden;
  padding: 0 5rem;
}

/*  Buttons */

.btn {
  background-color: var(--light-color);
  display: inline-block;
  padding: 0.4rem 1.3rem;
  margin-top: 1rem;
  font-size: 1rem;
  cursor: pointer; 
  transition: opacity 0.2s ease-in;
  border: none
}

.btn:hover {
  opacity: 0.85;
}

.wide-block {
  display: block;
  width: 100%;
}

.btn-dark {
  background-color: var(--dark-color-alt);
  color: var(--light-color);
}

.btn-light {
  border: solid 1px var(--light-color-alt);
}